# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/

# Images
data
logs
models
results

# iPynb checkpoints
src/.ipynb_checkpoints

# YOLO runs
src/runs

# Settings
.idea/

# Debugging
src/debug.py